/** this is edition 3 **/
/** with some update for body paying property **/
/** with some update for body paying property **/
/** body **/

.body {
	margin: 0px;
	padding: 0px;
	background-color: green;
	
} 