/** this is edition 3 with updated  **/
/** with some update for body paying property **/
/** with some update for body background property **/
/** body **/

.body {
	margin: 0px;
	padding: 0px;
	background-color: green;
	
} 